<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thông tin chi tiết</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<h1>Detail</h1>
<table class="table table-striped able-bordered table-hover" th:object="${player}">
    <tr>
        <div class="form-group">
            <th>Mã cầu thủ:</th>
            <td th:text="${player.code}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Tên cầu thủ:</th>
            <td th:text="${player.name}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Ngày sinh:</th>
            <td th:text="${player.dateOfBirth}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Kinh nghiệm:</th>
            <td th:text="${player.exp}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Vị trí:</th>
            <td th:text="${player.location}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Ảnh đại diện:</th>
            <td><img th:src="${player.image}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Đội tuyển:</th>
            <td th:text="${player.team.name}"></td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
            <th>Trạng thái:</th>
            <td th:text="${player.status}"></td>
        </div>
    </tr>
    <tr>
        <th></th>
        <td><a href="/soccer-player" class="btn btn-secondary">Trang chủ</a></td>
    </tr>
</table>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modelId"
        th:attr="onclick=|infoRegister('${player.id}', '${player.name}')|">
    Đăng kí
</button>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#unregister"
        th:attr="onclick=|infoUnregister('${player.id}', '${player.name}')|">
    Huỷ
</button>
<a th:href="@{/soccer-player/update?id=__*{player.id}__}" class="btn btn-primary btn-sm">Sửa</a></td>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modelDelete"
        th:attr="onclick=|infoDelete('${player.id}', '${player.name}')|">
    Xoá
</button>
<a th:href="@{/soccer-player/favourites?id=__*{player.id}__}"><i class="fa fa-heart" aria-hidden="true"></i></a>
<!--Modal đăng kí cầu thủ-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa cầu thủ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/soccer-player/register">
                <div class="modal-body">
                    <input type="hidden" name="registerId" id="registerId">
                    <span>Bạn có chắc muốn đăng kí cầu thủ </span> <span style="color: red"
                                                                             id="registerName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Đăng kí</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal huỷ đăng kí cầu thủ-->
<div class="modal fade" id="unregister" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa cầu thủ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/soccer-player/unregister">
                <div class="modal-body">
                    <input type="hidden" name="unregisterId" id="unregisterId">
                    <span>Bạn có chắc muốn huỷ đăng kí cầu thủ </span> <span style="color: red"
                                                                                 id="unregisterName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Huỷ đăng kí</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal xoá-->
<div class="modal fade" id="modelDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa cầu thủ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/soccer-player/delete">
                <div class="modal-body">
                    <input type="hidden" name="deleteId" id="deleteId">
                    <span>Bạn có chắc muốn xóa </span> <span style="color: red" id="deleteName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }

    function infoRegister(id, name) {
        document.getElementById("registerId").value = id;
        document.getElementById("registerName").innerText = name;
    }

    function infoUnregister(id, name) {
        document.getElementById("unregisterId").value = id;
        document.getElementById("unregisterName").innerText = name;
    }


</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>